@model Serena.BLL.Models.PatientHospitalReviews.PatientHospitalReviewDTO

@{
    ViewData["Title"] = "Review Details";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Review Details</h6>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.PatientName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.PatientName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.HospitalName)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.HospitalName)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Rating)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Rating)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Comment)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Comment)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ReviewingDate)
                    </dt>
                    <dd class="col-sm-8">
                        @Model.ReviewingDate?.ToString("yyyy-MM-dd")
                    </dd>
                </dl>
                <div class="mt-4 text-center">
                    <a asp-action="Edit" asp-route-patientId="@Model?.PatientId" asp-route-hospitalId="@Model?.HospitalId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
